body {
    color: darkslategray;
    width: 80vw;
    margin: 5px 150px 10px 150px;
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

#body-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 21px;
}
   
main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#right-header {
    margin-top: 22px;
}

.contact {
    font-size: 12px;
    color: blueviolet;
    letter-spacing: 0.05em;
}  

.contact-details {
    display: flex;
    font-size: 12px;
    list-style: none;
    padding: 4px 0;
}

.my-details {
    color: #9E9E9E;
    padding-left: 5px;
}
.reflection-header {
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    font-size: 17px;
}  
/* all ul and li elements */
ul {
    padding-left: 0px;
}
li {
    font-weight: bold;
    text-transform: capitalize;
    color: #81b9a7;
    padding: 5px;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.sprint-link, .nav-links {
    font-family: Arial, Helvetica, sans-serif;
    color: dodgerblue;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    padding: 0 8px;
    border: 1px solid #eef5b0;
    border-radius: 4px;
    text-align: center;
}
.sprint-link {
    font-size: 15px;
    margin-top: 8px;
    padding: 3px;
    width: 68%;
    
}
.nav-texts {
    padding: 6px;
    list-style: none;
}
#my-name {
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
} 

/* #greeting {
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
} */

.mini-text {
    font-size: 14px;
    color: #8BC34A;
    margin-top: -20px;
    margin-bottom: 27px;
    letter-spacing: 0.05em;
}
.para-1 {
    line-height: 1.5em;
    padding: 0 50px 10px 10px;
}
#left-section {
    width: 80%;
}
#right-section {
    width: 18%;
}
footer {
    margin-top: 50px;
}