/* RESPSONIVE - for large device */
@media only screen and (max-width: 1366px) {

    body {
        background-color: ghostwhite;
        color: darkslategray;
        width: 80vw;
        margin: 0 auto;
        font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
        font-weight: lighter;
    }

    #body-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        border: 1px solid gainsboro;
        border-bottom: none;
        padding: 10px;
        border-radius: 5px;
        margin: 4px 5px 10px 5px;
    }
    nav{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .li-parent {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0 8px;
    }
    .li-parent, li {
        list-style: none;
        width: 100%;
    }
    .menu-name {
        color: orange;
    }
    .menu-title {
        width: 100%;
        color: #4c695c;
        font-weight: lighter;
        text-align: left;
    }
    .menu-title:visited {
        color: red;
    }
    .dropdown-menu {
        background-color: #8fa99b;
        color: white;
        font-size:1.05em;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px rgb(20, 16, 16);
        padding: 4px 0 4px 0;
    }
    main {
        display: flex;
        width: 100%;
        padding: 8px;
        background-color: white;
        justify-content: space-between;
    }
    #menu-button {
        display: none;
    }
    #sprint1-drop {
        display: none;
    }
    
    /* all ul and li elements */
    ul {
        padding-left: 0px;
        width: 100%;
    }
    li {
        display: flex;
        justify-content: center;
        font-weight: bold;
        text-transform: capitalize;
        color: #81b9a7;
        width: 100%;
        background-color: #f9fbf8;
        border-radius: 4px;
        padding: 4px;
    }
    p {
        line-height: 1.5em;
        letter-spacing: 0.03em;
        text-align: justify;
    }
    h1 {
        letter-spacing: 0.03em;
    }
    h1, h2, h3, h4 {
        color: #097d68;
    }
    #left-header {
        width: auto;
    }
    .row {
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: auto;
        justify-content: flex-start;
    } 
    .print-scr {
        width: 60%;
        padding: 10px 5px;
    }
    .print-scr2 {
        width: 60%;
    }
    #right-header {
        margin-top: 22px;
    }
    .contact {
        font-size: 12px;
        color: blueviolet;
        letter-spacing: 0.05em;
    }  
    .contact-details {
        display: flex;
        justify-content: center;
        width: 62%;
        font-size: 12px;
        list-style: none;
        padding: 4px 0;
    }
    .my-details {
        color: #9E9E9E;
        padding-left: 5px;
    }
    .reflection-header {
        font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: column;
        font-size: 17px;
    } 
    #nav-container {
        display: flex;
        justify-content: space-between;
        padding: 8px;
    }
    .sprint-link, .nav-links {
        display: flex;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        list-style: none;
        padding: 8px;
        font-size: 18px;
        border-radius: 4px;
        text-align: center;
        border-bottom: 1px solid #c9e4d5;
    }
    .nav-links:hover, .nav-links:visited, .nav-links:active {
        background-color: white;
        border-bottom: 1px solid #c9e4d5;
        cursor: pointer;
        color: red;
    }
    .sprint-link {
        font-size: 15px;
        margin-top: 8px;
        padding: 3px;
        width: 100%;
    }
    .nav-texts {
        padding: 6px;
        list-style: none;
    }
    #my-name {
        font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
        font-size: 45px;
    } 
    .sub-title {
        color: rgb(44, 61, 13);
        letter-spacing: 0.03em;
        line-height: 1.5em;
    }
    .mini-text {
        font-size: 14px;
        color: #9eaf9d;
        margin-top: -20px;
        margin-bottom: 27px;
        letter-spacing: 0.05em;
    } 
    .para-1 {
        line-height: 1.6em;
        /* padding: 0 50px 10px 10px; */
        font-family: sans-serif;
        letter-spacing: 0.03em;
    }
    #left-section {
        width: 80%;
        border: 1px solid gainsboro;
        padding: 10px;
        border-radius: 5px;
        margin: 0 5px;
    }
    #right-section {
        width: 18%;
    }
    footer {
        margin-top: 50px;
    }
}

/* Media qurie for small devices */
@media only screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0;
    }
    
    p, .para-1 {
        padding: 0 10px;
    }
    #body-container {
        align-self: center;
        width: 98vw;
        padding: 0;
    }

    main {
        flex-flow: column;
        flex-wrap: wrap;
        align-self: center;
        width: 98vw;
    }

    #left-section {
        width: 98vw;
    }
    footer {
        align-self: center;
        width: 98vw;
    }


}



/* Media qurie for small devices */
@media only screen and (max-width: 412px) {
    body {
      background: none;
      width: 100vw !important;
      margin: 0 !important;
      padding: 0 !important;
    }
    main {
        width: 100vw !important;
        display: flex;
        flex-flow: column;
        padding: 0;
    }
    #body-container {
        display: flex;
        flex-flow: column;
        padding: 0;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
    nav {
        flex-direction: column;
        width: 100%;
    }
    li {
        justify-content: center;
    }
    #nav-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }
    .nav-texts {
        font-size: 16px;
        text-transform: lowercase;
    }
    .mini-text {
        text-align: center;
        font-weight: lighter;
    }
    #my-name {
        margin: 20px 0px;
        text-transform: uppercase;
        font-size: 36px;
    }
    .nav-links {
        background-color: #fdfde6;
        width: 100px;
        margin: 0 !important;
    }
    #right-header {
        margin: 0 !important;
        width: 100%;
    }
    #right-section  {
        margin-left: 14px;
        width: 36%;
    }
    #left-section {
        width: 100vw !important;
        margin: 0 auto;
        padding: 0;
    }
    p, .para-1{
        padding: 3px 8px;
        font-size: 13.5px;
        letter-spacing: 0.02em;
        line-height: 1.7em;
    }
    h2, h3, h4, h5 {
        margin: 8px;
    }
    h1 {  
        padding: 0 6px;
        margin: 13px 0px;
        text-align: center;
    }
    .sub-title {
        font-size: 0.89em;
        text-align: justify;
    }
    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .contact-details {
        width: 100%;
    }
    .print-scr2 {
        width: 100%;
    }
    .print-scr {
        width: 100%;
        padding: 0;
    }
    .para-1 {
        padding: 0 9px;
        font-size: 13.9px;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .menu-title {
        text-align: center;
    }
    .menu-text {
        font-weight: bold;
        font-size: 0.85em;
    }
    .li-parent {
        align-items: center;
        margin: 0 auto;
        width: 63%;
    }
    .reflection-header {
        width: 100%;
        margin: 10px;
        text-align: center;
    }
    .dropdown-menu {
        font-size: 0.8em;
        padding: 8px;
        width: 100%;
    }
    #menu-button {
        display: flex;
        align-self: flex-start;
        justify-content: center;
        height: auto;
        padding: 7px;
        color: oldlace;
        border-radius: 2px;
        font-size: 1.01em;
        font-weight: bold;
        letter-spacing: 0.03em;
        border: 0;
        background-color: #76a79e;
        margin: 0 0 10px -4px;
        width: 90px;
    }
    .row {
        display: none;
        position: relative;
        overflow: auto;
    }
    .show {
        display: flex;
    }

}
